{% extends 'base.twig' %}

{% block content %}
    <div class="qcm-list">
    <div class="imos">
        {% for qcm in data %}
            <a href="qcm/view/{{ qcm.id }}">
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">{{ qcm.title }}</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda commodi cum
                        deleniti
                        enim excepturi fugit ipsum modi molestias voluptate? Accusamus alias eaque facere illo magnam,
                        nihil
                        quas recusandae veniam.
                    </div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span
                                    class="bold">{{ qcm.author.username }}</span> </span>
                        <span><i class="las la-calendar-alt"></i><span class="bold">27/04/2020</span> </span>
                    </div>
                </div>
            </a>
            {#            <div class="card"> #}
            {#                <div class="card-content"> #}
            {#                    <h3>{{ qcm.title }}</h3> #}
            {#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consectetur ducimus, est et #}
            {#                        fugiat magni minus nemo neque nisi non praesentium quae quas quidem quo quod repudiandae sit #}
            {#                        tenetur.</p> #}
            {#                    <div class="card-info"> #}
            {#                        <div class="card-author"> #}
            {#                            <span>Author</span> #}
            {#                            {{ qcm.author.username }} #}
            {#                        </div> #}
            {#                        <div class="card-link"> #}
            {#                            <a class="card-button" href="{{ url("/qcm/view/") }}{{ qcm.id }}">GO</a> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}

            {#            </div> #}
        {% endfor %}
    </div>

    <div class="pagination">
        <a href="?page={{ 1 }}">&laquo;</a>
        {% for i in 1..numberPage %}
            {% if i == currentPage %}
                <a class="active" href="?page={{ i }}">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        <a href="?page={{ numberPage }}">&raquo;</a>
    </div>
    <div>

{% endblock %}