{% extends 'base.twig' %}

{% block content %}
    <div class="qcm-list">
    <div class="imos">
        {% for qcm in data %}
            <a href="qcm/view/{{ qcm.id }}">
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">{{ qcm.title }}</div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span
                                    class="bold">{{ qcm.author.username }}</span> </span>
                        <span><i class="las la-calendar-alt"></i><span class="bold">27/04/2020</span> </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in 1..numberPage %}
            {% if i == currentPage %}
                <a class="active" href="?page={{ i }}">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        <a href="?page={{ numberPage }}">&raquo;</a>
    </div>
    <div>

{% endblock %}