{% extends 'base.twig' %}

{% block content %}
    <div class="qcm-list">
    <div class="qcm-create">
        <a href="{{ url }}qcm/new" class="button-cool"><span>Crée votre <span class="bold">Qcm?</span></span></a>

    </div>

    <div class="imos">
        {% for qcm in data %}
            <a href="qcm/view/{{ qcm.id }}">
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">{{ qcm.title }}</div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span
                                    class="bold">{{ qcm.author.username }}</span> </span>
                        <span><i class="las la-calendar-alt"></i><span
                                    class="bold">{{ qcm.createdAt|date("d/m/Y") }}</span> </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {% if numberPage >= 1 %}
        <div class="pagination">
            {% if user %}
                <a class="button-cool" href="&page=1&user{{ user }}"><span>&laquo;</span></a>
            {% else %}
                <a class="button-cool" href="&page=1"><span>&laquo;</span></a>
            {% endif %}
            {% for i in 1..numberPage %}
                {% if i == currentPage %}
                    {% if user %}
                        <a class="button-cool active" href="&page={{ i }}&user{{ user }}"><span
                                    class="bold">{{ i }}</span></a>
                    {% else %}
                        <a class="button-cool active" href="&page={{ i }}"><span class="bold">{{ i }}</span></a>
                    {% endif %}
                {% else %}
                    {% if user %}
                        <a class="button-cool" href="&page={{ i }}&user{{ user }}"><span>{{ i }}</span></a>
                    {% else %}
                        <a class="button-cool" href="&page={{ i }}"><span>{{ i }}</span></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if user %}
                <a class="button-cool" href="&page={{ numberPage }}&user{{ user }}"><span>&raquo;</span></a>
            {% else %}
                <a class="button-cool" href="&page={{ numberPage }}"><span>&raquo;</span></a>
            {% endif %}
        </div>
    {% endif %}
    <div>

{% endblock %}