{% extends 'base.twig' %}

{% block content %}
    <script type="module" src="{{ asset("js/main.js") }}"></script>



    {% if qcm_author == app.user.id %}
        <div class="qcm-inline-buttons">
            <a href="{{ url("") }}qcm/edit/{{ qcmdata.id }}">
                <button class="button-cool"><span>edit</span></button>
            </a>
        </div>
    {% endif %}
    <div class="qcm-title">{{ qcmdata.title }}</div>
    <div class="qcm">
        <qcm-view data-id="{{ qcmdata.id }}" data-version="{{ qcm.version }}"
                  data-questions="{{ qcm.question|json_encode() }}">

        </qcm-view>
    </div>


{% endblock %}