<div class="nav">
    <div class="mobile-menu" data-toggle-element="#mobile" data-toggle-class="open">
        <i class="las la-bars"></i>
    </div>
    <div class="nav-logo">
        {#            <img src="{{ asset("img/logo.png") }}" alt="QCM Logo"> #}
        <div class="nav-brand">Q-CM</div>
    </div>

    <ul class="nav-links " id="mobile">
        <li class="link"><a href="{{ url("app_home") }}">Home</a></li>
        <li class="link"><a href="">QCM</a></li>
        {% if app.user %}
            <li class="link"><a href="{{ url("app_user_profile") }}">Profile <i class="las la-user"></i></a></li>

            <li class="link"><a href="{{ url("app_logout") }}">Logout <i class="las la-sign-out-alt"></i></a></li>
        {% else %}
            <li class="link"><a href="{{ url("app_login") }}">Login</a></li>
        {% endif %}
    </ul>
</div>