{% extends 'base.twig' %}

{% block content %}
    <div class="profile">
        <div class="title">{{ user.username }}</div>
        <div class="content">
            <div>
                Votre username: <span class="bold">{{ user.username }}</span>
            </div>
            <div>
                Crée le <span class="bold">{{ user.createdAt|date("H:i m/d/Y") }}</span>
            </div>

        </div>
        <div class="title"></div>
        <div class="buttons">
            <a href="{{ url('app_qcm_list') }}?page=1&user{{ user.id }}" class="button-cool"><i
                        class="sm md las la-archive"></i> <span class="lg">Vos qcms</span></a>

        </div>
    </div>

{% endblock %}